<section>
    <div class="banner1">
        <a href="@ViewBag.BANNER_B.Url"><img src="@if(ViewBag.BANNER_B != null){@ViewBag.BANNER_B.ImgDisplay}" width="212" /></a>
       </div>
    <div class="banner2">
        <a href="@ViewBag.BANNER_C.Url"><img src="@if(ViewBag.BANNER_C != null){@ViewBag.BANNER_C.ImgDisplay}" width="212" /></a>
    </div>
    <div class="banner3">
        <a href="@ViewBag.BANNER_D.Url"><img src="@if(ViewBag.BANNER_D != null){@ViewBag.BANNER_D.ImgDisplay}" width="572" /></a>
    </div>

    <div class="banner4">
        <a href="@ViewBag.BANNER_E.Url"><img src="@if(ViewBag.BANNER_E != null){@ViewBag.BANNER_E.ImgDisplay}" width="432" /></a>
    </div>
    <div class="banner5">
        <a href="@ViewBag.BANNER_F.Url"><img src="@if(ViewBag.BANNER_F != null){@ViewBag.BANNER_F.ImgDisplay}" width="282" /></a>
    </div>
    <div class="banner6">
        <a href="@ViewBag.BANNER_G.Url"><img src="@if(ViewBag.BANNER_G != null){@ViewBag.BANNER_G.ImgDisplay}" width="282" /></a>
    </div>
</section>
